<blockquote class="post-copyright">
    <% function template(message) {
        return new Function('data', 'with(data){return `' + message+'`}')
    }%>
    <% if(theme.postMessage || theme.show_last_updated) { %>
    <div class="content">
        <%- partial('updated') %>
        <% if(theme.postMessage) {%>
        <%- template(theme.postMessage)(locals) %>
        <% } %>
    </div>
    <% } %>
    <footer>
        <a href="<%- config.url %>">
            <img src="<%- url_for(theme.avatar) %>" alt="<%- config.author %>">
            <%- config.author %>
        </a>
    </footer>
</blockquote>
